# Local .terraform directories and files
**/.terraform/*
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# IDEs
.idea/

# Environment variables with secrets
*.tfvars
!*.example.tfvars